develop/haml/about.haml
= Haml::Engine.new( File.read( "#{__dir__}/common/base.haml" ) ).render

%link{rel: "stylesheet", href: "css/about.css"}
%script{src: "js/slide-about.js"}

/------------------------------------------------------------
/ Header
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/header.haml" ) ).render

/------------------------------------------------------------
/ Content
/------------------------------------------------------------
.content
  .container
    / Slide
    / #slide.easy_slides_container
    
    .row
      = Haml::Engine.new( File.read( "#{__dir__}/common/navi.haml" ) ).render

      / Slide
      .row.row_margin2
        #slide.easy_slides_container

    /------------------------------------------------------------
    / 錦水亭
    /------------------------------------------------------------
    .row.row_margin1
      %h2
        錦水亭
      .col.span_9
        %p
          創業明治１４年（１８８１年）の老舗。
        %p
          京都近郊の長岡に位置し、「錦水亭」の名称は山階宮の命名によります。
        %p
          八条宮によって造成された、八条ケ池を取り入れての大小の数寄屋づくりのお座敷が点在し、老松　つつじ　さくら　におおわれた自然の大庭園と共にその景観はすばらしい限りです。
      .col.span_7.right
        %img{src: "img/about/1.jpg", alt: "image 1"}
        
    /------------------------------------------------------------
    / たけのこを育む
    /------------------------------------------------------------
    .row.row_margin1
      %h2
        たけのこを育む
      .col.span_9
        %p
          質の良い「たけのこ」を収穫する為に、殆ど一年中、当地は藪の手入れを怠りません。
        %p
          五月中頃から根が強くなり、強い風にも耐えられるよう親竹の先を切り、成長を止めます。七月から八月にかけて草取りと施肥、そして秋にはこの地独得の栽培法である盛土作業をはじめます。藪一面にわらを敷きつめ、その上に土を盛ります。
        %p
          こうすることによって、土の層が年々厚くなり、やわらかさも一段と増してくるのです。「農家の奥座敷」と言われる位手入れがゆき届いています。
      .col.span_7.right
        %img{src: "img/about/2.jpg", alt: "image 2"}

    /------------------------------------------------------------
    / たけのこの朝掘
    /------------------------------------------------------------
    .row.row_margin1
      %h2
        たけのこの朝掘
      .col.span_9
        %p
          この様に精魂をかたむけた成果が３月から５月にかけて掘る「たけのこ」にあらわれます。
        %p
          しっとりと朝霧を含んだ土から、まるまると太り見るからに柔らかそうな「たけのこ」を掘り出した時は、今までの苦労をすっかり忘れさせてくれます。
        %p
          「たけのこ」は地中にある物を掘るので、前日にひび割れに印をつけ、翌朝太陽があがらないうちに掘り起こします。「堀り」と言う器具で「たけのこ」を傷つけない様に堀あげる技術は最低１０年の年月を経ないと一人前にはなれないと言われております。
      .col.span_7.right
        %img{src: "img/about/3.jpg", alt: "image 3"}

    /------------------------------------------------------------
    / たけのこ料理
    /------------------------------------------------------------
    .row.row_margin1
      %h2
        たけのこ料理
      .col.span_9
        %p
          朝堀した「たけのこ」の土が乾かないうちに手早く皮をむき、大釜で２時間余りゆがきます。
        %p
          さらに清水にさらしてあくぬきし、家伝の調理法に依って作りあげる「たけのこ料理」は日本一として広く全国に知れわたっております。
        %p
          たけのこ料理のコースは、朝堀の新鮮さを堪能して頂けるようなコースとなっております。
        %p
          木の芽あえ　お造り　若竹すまし汁　じきたけ　田楽　むしたけ　てんぷら　焼竹　酢の物　たけのこ飯　と、たけのこ一式で御献立が組まれています。
        %p
          歯にあたってサクッと割れるやわらかい香り豊かな「たけのこ」のお料理は、春の味覚の王者と申せましょう。
        %p
          是非日本一の錦水亭のたけのこ料理をご賞味ください。
      .col.span_7.right
        %img{src: "img/about/4.jpg", alt: "image 4"}
        %img{src: "img/about/5.jpg", alt: "image 5"}

/------------------------------------------------------------
/ Footer
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/footer.haml" ) ).render

develop/about.html
<!DOCTYPE html>
<meta charset='UTF-8'>
<title>たけのこ会席 錦水亭</title>
<!-- jQuery -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<!-- Resposive.gs -->
<link href='css/responsive.gs.16col.ex.css' rel='stylesheet'>
<script src='js/respond.min.js'></script>
<!-- easy slider -->
<script src='js/jquery.easyslides.custom.min.v1.1.js'></script>
<link href='css/easySlides.default.min.css' rel='stylesheet'>
<!-- Lightbox -->
<script src='js/lightbox.min.js'></script>
<link href='css/lightbox.css' rel='stylesheet'>
<!-- common css -->
<link href='css/header.css' rel='stylesheet'>
<link href='css/navi.css' rel='stylesheet'>
<link href='css/about.css' rel='stylesheet'>
<script src='js/slide-about.js'></script>
<!-- ------------------------------------------------------------ -->
<!-- Header -->
<!-- ------------------------------------------------------------ -->
<div id='header'>
  <div id='h-content'>
    <a href='index.html'>
      <h1>錦水亭</h1>
    </a>
  </div>
</div>
<!-- %ul#h-navi.clearfix -->
<!-- #f-tel -->
<!-- %h2 TEL. 075-951-5151 -->
<!-- %li -->
<!-- %a{href: "./"} -->
<!-- %h3#h-contact お問い合せ -->
<!-- %li -->
<!-- %a{href: "./"} -->
<!-- %h3#h-sitemap サイトマップ -->
<!-- ------------------------------------------------------------ -->
<!-- Content -->
<!-- ------------------------------------------------------------ -->
<div class='content'>
  <div class='container'>
    <!-- Slide -->
    <!-- #slide.easy_slides_container -->
    <div class='row'>
      <div class='navi'>
        <ul class='clearfix dropmenu dropmenu-fade'>
          <li>
            <a href='about.html'>
              <div class='navi-item0'>錦水亭</div>
            </a>
          </li>
          <li>
            <a href='menu.html'>
              <div class='navi-item1'>おしながき</div>
            </a>
          </li>
          <li>
            <a href='access.html'>
              <div class='navi-item2'>ごあんない</div>
            </a>
          </li>
          <li>
            <a href='wedding.html'>
              <div class='navi-item3'>結婚披露宴</div>
            </a>
          </li>
          <li>
            <a href='shop.html'>
              <div class='navi-item4'>佃煮お取り寄せ</div>
            </a>
          </li>
        </ul>
      </div>
      <!-- Slide -->
      <div class='row row_margin2'>
        <div class='easy_slides_container' id='slide'></div>
      </div>
    </div>
    <!-- ------------------------------------------------------------ -->
    <!-- 錦水亭 -->
    <!-- ------------------------------------------------------------ -->
    <div class='row row_margin1'>
      <h2>
        錦水亭
      </h2>
      <div class='col span_9'>
        <p>
          創業明治１４年（１８８１年）の老舗。
        </p>
        <p>
          京都近郊の長岡に位置し、「錦水亭」の名称は山階宮の命名によります。
        </p>
        <p>
          八条宮によって造成された、八条ケ池を取り入れての大小の数寄屋づくりのお座敷が点在し、老松　つつじ　さくら　におおわれた自然の大庭園と共にその景観はすばらしい限りです。
        </p>
      </div>
      <div class='col span_7 right'>
        <img alt='image 1' src='img/about/1.jpg'>
      </div>
    </div>
    <!-- ------------------------------------------------------------ -->
    <!-- たけのこを育む -->
    <!-- ------------------------------------------------------------ -->
    <div class='row row_margin1'>
      <h2>
        たけのこを育む
      </h2>
      <div class='col span_9'>
        <p>
          質の良い「たけのこ」を収穫する為に、殆ど一年中、当地は藪の手入れを怠りません。
        </p>
        <p>
          五月中頃から根が強くなり、強い風にも耐えられるよう親竹の先を切り、成長を止めます。七月から八月にかけて草取りと施肥、そして秋にはこの地独得の栽培法である盛土作業をはじめます。藪一面にわらを敷きつめ、その上に土を盛ります。
        </p>
        <p>
          こうすることによって、土の層が年々厚くなり、やわらかさも一段と増してくるのです。「農家の奥座敷」と言われる位手入れがゆき届いています。
        </p>
      </div>
      <div class='col span_7 right'>
        <img alt='image 2' src='img/about/2.jpg'>
      </div>
    </div>
    <!-- ------------------------------------------------------------ -->
    <!-- たけのこの朝掘 -->
    <!-- ------------------------------------------------------------ -->
    <div class='row row_margin1'>
      <h2>
        たけのこの朝掘
      </h2>
      <div class='col span_9'>
        <p>
          この様に精魂をかたむけた成果が３月から５月にかけて掘る「たけのこ」にあらわれます。
        </p>
        <p>
          しっとりと朝霧を含んだ土から、まるまると太り見るからに柔らかそうな「たけのこ」を掘り出した時は、今までの苦労をすっかり忘れさせてくれます。
        </p>
        <p>
          「たけのこ」は地中にある物を掘るので、前日にひび割れに印をつけ、翌朝太陽があがらないうちに掘り起こします。「堀り」と言う器具で「たけのこ」を傷つけない様に堀あげる技術は最低１０年の年月を経ないと一人前にはなれないと言われております。
        </p>
      </div>
      <div class='col span_7 right'>
        <img alt='image 3' src='img/about/3.jpg'>
      </div>
    </div>
    <!-- ------------------------------------------------------------ -->
    <!-- たけのこ料理 -->
    <!-- ------------------------------------------------------------ -->
    <div class='row row_margin1'>
      <h2>
        たけのこ料理
      </h2>
      <div class='col span_9'>
        <p>
          朝堀した「たけのこ」の土が乾かないうちに手早く皮をむき、大釜で２時間余りゆがきます。
        </p>
        <p>
          さらに清水にさらしてあくぬきし、家伝の調理法に依って作りあげる「たけのこ料理」は日本一として広く全国に知れわたっております。
        </p>
        <p>
          たけのこ料理のコースは、朝堀の新鮮さを堪能して頂けるようなコースとなっております。
        </p>
        <p>
          木の芽あえ　お造り　若竹すまし汁　じきたけ　田楽　むしたけ　てんぷら　焼竹　酢の物　たけのこ飯　と、たけのこ一式で御献立が組まれています。
        </p>
        <p>
          歯にあたってサクッと割れるやわらかい香り豊かな「たけのこ」のお料理は、春の味覚の王者と申せましょう。
        </p>
        <p>
          是非日本一の錦水亭のたけのこ料理をご賞味ください。
        </p>
      </div>
      <div class='col span_7 right'>
        <img alt='image 4' src='img/about/4.jpg'>
        <img alt='image 5' src='img/about/5.jpg'>
      </div>
    </div>
  </div>
</div>
<!-- ------------------------------------------------------------ -->
<!-- Footer -->
<!-- ------------------------------------------------------------ -->
<div id='footer'>
  <div class='clearfix' id='f-content'>
    <div id='f-logo'>錦水亭</div>
    <div id='f-copyright'>Copyright KINSUITEI. All Right Reserved.</div>
    <div id='f-tel'>
      <h2>ご予約・お問い合わせ TEL. 075-951-5151</h2>
    </div>
  </div>
</div>
