develop/haml/access.haml
= Haml::Engine.new( File.read( "#{__dir__}/common/base.haml" ) ).render

%link{rel: "stylesheet", href: "css/access.css"}
%script{src: "js/slide-access.js"}

/ Google Map
%script{src: "https://maps.google.com/maps/api/js?key=AIzaSyBE6_MjFZOqZssBxOGXXJKp89O3A21GpxY&sensor=true" }
%script{src: "js/googlemap_custom.js" }
%body{onload: "initialize();"}

  /------------------------------------------------------------
  / Header
  /------------------------------------------------------------
  = Haml::Engine.new( File.read( "#{__dir__}/common/header.haml" ) ).render
  
  /------------------------------------------------------------
  / Content
  /------------------------------------------------------------
  .content
    .container
    
      / Navi
      .row
        = Haml::Engine.new( File.read( "#{__dir__}/common/navi.haml" ) ).render

      / Slide
      .row.row_margin4
        #slide.easy_slides_container

      / Content
      .row.row_margin3
        .row
          %h2 ごあんない
        .row.row_margin1
          %hr.style1

        .row
          .col.span_7
            .row.row_margin3
              .row.row_margin1
                %h3 電車
              .row.right.row_margin1
                .col.span_14.left 阪急京都線　長岡天神駅より　徒歩10分
                .col.span_2.right
                  %a{href: "https://goo.gl/maps/1BjYK", title: "阪急長岡天神駅からの徒歩ルートを表示します", target: "_blank"} 地図
              .row.right
                .col.span_14.left ＪＲ京都線　長岡京駅　より　徒歩17分
                .col.span_2.right
                  %a{href: "https://goo.gl/maps/3SEJj", title: "ＪＲ長岡京駅からの徒歩ルートを表示します", target: "_blank"} 地図
            .row
              .row.row_margin1
                %h3 お車
              .row.right.row_margin1
                .col.span_14.left 京都縦貫自動車道　長岡京I.Cより　2分
                .col.span_2.right
                  %a{href: "https://goo.gl/maps/dHJ6g", title: "長岡京Ｉ.Ｃからのお車ルートを表示します", target: "_blank"} 地図
              .row.note
                %p 八条ヶ池南側が入り口となります。敷地内に駐車場がございますのでお車にてお進み下さい。
          
          .col.span_1
            &nbsp;

          .col.span_8
            #map_canvas

      / Information
      .row.row_margin3
        .col.span_8
          .row
            %h2 営業情報
          .row.row_margin1
            %hr.style1
          .row.row_margin1
            .col.span_4 営業時間
            .col.span_6 11：30 ～ 21：00
            .col.span_6 (L.O 19：00)
          .row.row_margin1
            .col.span_4 &nbsp;
            .col.span_6 11：30 ～ 14：30
            .col.span_6 ランチタイム
          .row.row_margin1
            .col.span_4 定休日
            .col.span_12 水曜日
          .row.row_margin1
            .col.span_4 ＴＥＬ
            .col.span_12 075-951-5151
          .row.row_margin1
            .col.span_4 ＦＡＸ
            .col.span_12 075-951-2525
          .row
            〒605-0074 京都府長岡京市天神二丁目 15-15

        .col.span_1
          &nbsp;

        .col.span_7
          .row
            %h2 お部屋
          .row.row_margin1
            %hr.style1
          .row.row_margin1
            .col.span_5 総客室数
            .col.span_8.right ５０室
          .row.row_margin05
            .col.span_5 大広間
            .col.span_4.right １００帖
            .col.span_4.right １室
          .row.row_margin05
            .col.span_5 中広間
            .col.span_4.right ４０帖
            .col.span_4.right ２室
          .row.row_margin05
            .col.span_5 小広間
            .col.span_4.right ２４帖
            .col.span_4.right １室
          .row.row_margin05
            .col.span_9.right ２０帖
            .col.span_4.right １室
          .row.row_margin1
            .col.span_9.right １２帖
            .col.span_4.right １室
          .row.note ※椅子席は６０席までご用意できます。

      / Mini Photo
      .row
        %ul.images
          %li
            %a{href:"img/access/room/1.jpg", data:{lightbox:"room-set", title:"大広間"}}
              %img{src:"img/access/room/1.thumb.jpg", alt:""}
          %li
            %a{href:"img/access/room/2.jpg", data:{lightbox:"room-set", title:"大広間"}}
              %img{src:"img/access/room/2.thumb.jpg", alt:""}
          %li
            %a{href:"img/access/room/3.jpg", data:{lightbox:"room-set", title:"大広間"}}
              %img{src:"img/access/room/3.thumb.jpg", alt:""}
          %li
            %a{href:"img/access/room/4.jpg", data:{lightbox:"room-set", title:"大広間"}}
              %img{src:"img/access/room/4.thumb.jpg", alt:""}
          %li
            %a{href:"img/access/room/5.jpg", data:{lightbox:"room-set", title:"大広間"}}
              %img{src:"img/access/room/5.thumb.jpg", alt:""}

  /------------------------------------------------------------
  / Footer
  /------------------------------------------------------------
  = Haml::Engine.new( File.read( "#{__dir__}/common/footer.haml" ) ).render

develop/access.html
<!DOCTYPE html>
<meta charset='UTF-8'>
<title>たけのこ会席 錦水亭</title>
<!-- jQuery -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<!-- Resposive.gs -->
<link href='css/responsive.gs.16col.ex.css' rel='stylesheet'>
<script src='js/respond.min.js'></script>
<!-- easy slider -->
<script src='js/jquery.easyslides.custom.min.v1.1.js'></script>
<link href='css/easySlides.default.min.css' rel='stylesheet'>
<!-- Lightbox -->
<script src='js/lightbox.min.js'></script>
<link href='css/lightbox.css' rel='stylesheet'>
<!-- common css -->
<link href='css/header.css' rel='stylesheet'>
<link href='css/navi.css' rel='stylesheet'>
<link href='css/access.css' rel='stylesheet'>
<script src='js/slide-access.js'></script>
<!-- Google Map -->
<script src='https://maps.google.com/maps/api/js?key=AIzaSyBE6_MjFZOqZssBxOGXXJKp89O3A21GpxY&amp;sensor=true'></script>
<script src='js/googlemap_custom.js'></script>
<body onload='initialize();'>
  <!-- ------------------------------------------------------------ -->
  <!-- Header -->
  <!-- ------------------------------------------------------------ -->
  <div id='header'>
    <div id='h-content'>
      <a href='index.html'>
        <h1>錦水亭</h1>
      </a>
    </div>
  </div>
  <!-- %ul#h-navi.clearfix -->
  <!-- #f-tel -->
  <!-- %h2 TEL. 075-951-5151 -->
  <!-- %li -->
  <!-- %a{href: "./"} -->
  <!-- %h3#h-contact お問い合せ -->
  <!-- %li -->
  <!-- %a{href: "./"} -->
  <!-- %h3#h-sitemap サイトマップ -->
  <!-- ------------------------------------------------------------ -->
  <!-- Content -->
  <!-- ------------------------------------------------------------ -->
  <div class='content'>
    <div class='container'>
      <!-- Navi -->
      <div class='row'>
        <div class='navi'>
          <ul class='clearfix dropmenu dropmenu-fade'>
            <li>
              <a href='about.html'>
                <div class='navi-item0'>錦水亭</div>
              </a>
            </li>
            <li>
              <a href='menu.html'>
                <div class='navi-item1'>おしながき</div>
              </a>
            </li>
            <li>
              <a href='access.html'>
                <div class='navi-item2'>ごあんない</div>
              </a>
            </li>
            <li>
              <a href='wedding.html'>
                <div class='navi-item3'>結婚披露宴</div>
              </a>
            </li>
            <li>
              <a href='shop.html'>
                <div class='navi-item4'>佃煮お取り寄せ</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Slide -->
      <div class='row row_margin4'>
        <div class='easy_slides_container' id='slide'></div>
      </div>
      <!-- Content -->
      <div class='row row_margin3'>
        <div class='row'>
          <h2>ごあんない</h2>
        </div>
        <div class='row row_margin1'>
          <hr class='style1'>
        </div>
        <div class='row'>
          <div class='col span_7'>
            <div class='row row_margin3'>
              <div class='row row_margin1'>
                <h3>電車</h3>
              </div>
              <div class='row right row_margin1'>
                <div class='col span_14 left'>阪急京都線　長岡天神駅より　徒歩10分</div>
                <div class='col span_2 right'>
                  <a href='https://goo.gl/maps/1BjYK' target='_blank' title='阪急長岡天神駅からの徒歩ルートを表示します'>地図</a>
                </div>
              </div>
              <div class='row right'>
                <div class='col span_14 left'>ＪＲ京都線　長岡京駅　より　徒歩17分</div>
                <div class='col span_2 right'>
                  <a href='https://goo.gl/maps/3SEJj' target='_blank' title='ＪＲ長岡京駅からの徒歩ルートを表示します'>地図</a>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='row row_margin1'>
                <h3>お車</h3>
              </div>
              <div class='row right row_margin1'>
                <div class='col span_14 left'>京都縦貫自動車道　長岡京I.Cより　2分</div>
                <div class='col span_2 right'>
                  <a href='https://goo.gl/maps/dHJ6g' target='_blank' title='長岡京Ｉ.Ｃからのお車ルートを表示します'>地図</a>
                </div>
              </div>
              <div class='row note'>
                <p>八条ヶ池南側が入り口となります。敷地内に駐車場がございますのでお車にてお進み下さい。</p>
              </div>
            </div>
          </div>
          <div class='col span_1'>
            &nbsp;
          </div>
          <div class='col span_8'>
            <div id='map_canvas'></div>
          </div>
        </div>
      </div>
      <!-- Information -->
      <div class='row row_margin3'>
        <div class='col span_8'>
          <div class='row'>
            <h2>営業情報</h2>
          </div>
          <div class='row row_margin1'>
            <hr class='style1'>
          </div>
          <div class='row row_margin1'>
            <div class='col span_4'>営業時間</div>
            <div class='col span_6'>11：30 ～ 21：00</div>
            <div class='col span_6'>(L.O 19：00)</div>
          </div>
          <div class='row row_margin1'>
            <div class='col span_4'>&nbsp;</div>
            <div class='col span_6'>11：30 ～ 14：30</div>
            <div class='col span_6'>ランチタイム</div>
          </div>
          <div class='row row_margin1'>
            <div class='col span_4'>定休日</div>
            <div class='col span_12'>水曜日</div>
          </div>
          <div class='row row_margin1'>
            <div class='col span_4'>ＴＥＬ</div>
            <div class='col span_12'>075-951-5151</div>
          </div>
          <div class='row row_margin1'>
            <div class='col span_4'>ＦＡＸ</div>
            <div class='col span_12'>075-951-2525</div>
          </div>
          <div class='row'>
            〒605-0074 京都府長岡京市天神二丁目 15-15
          </div>
        </div>
        <div class='col span_1'>
          &nbsp;
        </div>
        <div class='col span_7'>
          <div class='row'>
            <h2>お部屋</h2>
          </div>
          <div class='row row_margin1'>
            <hr class='style1'>
          </div>
          <div class='row row_margin1'>
            <div class='col span_5'>総客室数</div>
            <div class='col span_8 right'>５０室</div>
          </div>
          <div class='row row_margin05'>
            <div class='col span_5'>大広間</div>
            <div class='col span_4 right'>１００帖</div>
            <div class='col span_4 right'>１室</div>
          </div>
          <div class='row row_margin05'>
            <div class='col span_5'>中広間</div>
            <div class='col span_4 right'>４０帖</div>
            <div class='col span_4 right'>２室</div>
          </div>
          <div class='row row_margin05'>
            <div class='col span_5'>小広間</div>
            <div class='col span_4 right'>２４帖</div>
            <div class='col span_4 right'>１室</div>
          </div>
          <div class='row row_margin05'>
            <div class='col span_9 right'>２０帖</div>
            <div class='col span_4 right'>１室</div>
          </div>
          <div class='row row_margin1'>
            <div class='col span_9 right'>１２帖</div>
            <div class='col span_4 right'>１室</div>
          </div>
          <div class='row note'>※椅子席は６０席までご用意できます。</div>
        </div>
      </div>
      <!-- Mini Photo -->
      <div class='row'>
        <ul class='images'>
          <li>
            <a data-lightbox='room-set' data-title='大広間' href='img/access/room/1.jpg'>
              <img alt='' src='img/access/room/1.thumb.jpg'>
            </a>
          </li>
          <li>
            <a data-lightbox='room-set' data-title='大広間' href='img/access/room/2.jpg'>
              <img alt='' src='img/access/room/2.thumb.jpg'>
            </a>
          </li>
          <li>
            <a data-lightbox='room-set' data-title='大広間' href='img/access/room/3.jpg'>
              <img alt='' src='img/access/room/3.thumb.jpg'>
            </a>
          </li>
          <li>
            <a data-lightbox='room-set' data-title='大広間' href='img/access/room/4.jpg'>
              <img alt='' src='img/access/room/4.thumb.jpg'>
            </a>
          </li>
          <li>
            <a data-lightbox='room-set' data-title='大広間' href='img/access/room/5.jpg'>
              <img alt='' src='img/access/room/5.thumb.jpg'>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- ------------------------------------------------------------ -->
  <!-- Footer -->
  <!-- ------------------------------------------------------------ -->
  <div id='footer'>
    <div class='clearfix' id='f-content'>
      <div id='f-logo'>錦水亭</div>
      <div id='f-copyright'>Copyright KINSUITEI. All Right Reserved.</div>
      <div id='f-tel'>
        <h2>ご予約・お問い合わせ TEL. 075-951-5151</h2>
      </div>
    </div>
  </div>
</body>
