develop/index.html
<!DOCTYPE html>
<meta charset='UTF-8'>
<title>たけのこ会席 錦水亭</title>
<!-- jQuery -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<!-- Resposive.gs -->
<link href='css/responsive.gs.16col.ex.css' rel='stylesheet'>
<script src='js/respond.min.js'></script>
<!-- easy slider -->
<script src='js/jquery.easyslides.custom.min.v1.1.js'></script>
<link href='css/easySlides.default.min.css' rel='stylesheet'>
<!-- Lightbox -->
<script src='js/lightbox.min.js'></script>
<link href='css/lightbox.css' rel='stylesheet'>
<!-- common css -->
<link href='css/header.css' rel='stylesheet'>
<link href='css/navi.css' rel='stylesheet'>
<link href='css/top.css' rel='stylesheet'>
<script src='js/slide-top.js'></script>
<!-- ------------------------------------------------------------ -->
<!-- Header -->
<!-- ------------------------------------------------------------ -->
<div id='header'>
  <div id='h-content'>
    <a href='index.html'>
      <h1>錦水亭</h1>
    </a>
  </div>
</div>
<!-- %ul#h-navi.clearfix -->
<!-- #f-tel -->
<!-- %h2 TEL. 075-951-5151 -->
<!-- %li -->
<!-- %a{href: "./"} -->
<!-- %h3#h-contact お問い合せ -->
<!-- %li -->
<!-- %a{href: "./"} -->
<!-- %h3#h-sitemap サイトマップ -->
<!-- ------------------------------------------------------------ -->
<!-- Content -->
<!-- ------------------------------------------------------------ -->
<div class='content'>
  <div class='container'>
    <!-- Navi -->
    <div class='row'>
      <div class='navi'>
        <ul class='clearfix dropmenu dropmenu-fade'>
          <li>
            <a href='about.html'>
              <div class='navi-item0'>錦水亭</div>
            </a>
          </li>
          <li>
            <a href='menu.html'>
              <div class='navi-item1'>おしながき</div>
            </a>
          </li>
          <li>
            <a href='access.html'>
              <div class='navi-item2'>ごあんない</div>
            </a>
          </li>
          <li>
            <a href='wedding.html'>
              <div class='navi-item3'>結婚披露宴</div>
            </a>
          </li>
          <li>
            <a href='shop.html'>
              <div class='navi-item4'>佃煮お取り寄せ</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Silider -->
    <div class='row'>
      <div class='easy_slides_container' id='slide'></div>
    </div>
    <!-- Information -->
    <div class='row info'>
      <p>
        京都府長岡京市の錦水亭でございます。
      </p>
      <p>
        日本一のたけのこ料理の店として全国に親しまれております。今の季節でしか味わえない、京都の柔らかくて美味しいたけのこを会席料理で是非お召し上がり下さい。
      </p>
      <p>
        たけのこ料理は五月末まで予定しております。内容についてはこちらをご覧下さい。
      </p>
    </div>
  </div>
</div>
<!-- ------------------------------------------------------------ -->
<!-- Footer -->
<!-- ------------------------------------------------------------ -->
<div id='footer'>
  <div class='clearfix' id='f-content'>
    <div id='f-logo'>錦水亭</div>
    <div id='f-copyright'>Copyright KINSUITEI. All Right Reserved.</div>
    <div id='f-tel'>
      <h2>ご予約・お問い合わせ TEL. 075-951-5151</h2>
    </div>
  </div>
</div>

develop/haml/index.haml
= Haml::Engine.new( File.read( "#{__dir__}/common/base.haml" ) ).render

%link{rel: "stylesheet", href: "css/top.css"}
%script{src: "js/slide-top.js"}
/------------------------------------------------------------
/ Header
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/header.haml" ) ).render

/------------------------------------------------------------
/ Content
/------------------------------------------------------------
.content
  .container

    / Navi
    .row
      = Haml::Engine.new( File.read( "#{__dir__}/common/navi.haml" ) ).render

    / Silider
    .row
      #slide.easy_slides_container

    / Information
    .row.info
      %p
        京都府長岡京市の錦水亭でございます。
      %p
        日本一のたけのこ料理の店として全国に親しまれております。今の季節でしか味わえない、京都の柔らかくて美味しいたけのこを会席料理で是非お召し上がり下さい。
      %p
        たけのこ料理は五月末まで予定しております。内容についてはこちらをご覧下さい。

/------------------------------------------------------------
/ Footer
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/footer.haml" ) ).render
