develop/haml/menu.haml
= Haml::Engine.new( File.read( "#{__dir__}/common/base.haml" ) ).render

%link{rel: "stylesheet", href: "css/menu.css"}
%script{src: "js/slide-menu.js"}

/------------------------------------------------------------
/ Header
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/header.haml" ) ).render

/------------------------------------------------------------
/ Content
/------------------------------------------------------------
.content
  .container
    
    / Navi
    .row
      = Haml::Engine.new( File.read( "#{__dir__}/common/navi.haml" ) ).render

    / Slide
    .row.row_margin2
      #slide.easy_slides_container

    .row.row_margin3
      %h1 十一月　ご昼食

    
    / Menu 1
    .row
      .col.span_4
        %h2 ミニ会席　空
      .col.span_12.header-comment 全8品　6,000円　(税・サービス料別)
    .row.row_margin1
      %hr.style1
    .row.row_margin1
      %ul.images.clearfix
        %li
          %a{href:"img/menu/lunch/sora/1.jpg", data:{lightbox:"room-set", title:"ミニ会席　空"}}
            %img{src:"img/menu/lunch/sora/1.thumb.jpg", alt:""}
        %li
          %a{href:"img/menu/lunch/sora/2.jpg", data:{lightbox:"room-set", title:"ミニ会席　空　お料理１"}}
            %img{src:"img/menu/lunch/sora/2.thumb.jpg", alt:""}
        %li
          %a{href:"img/menu/lunch/sora/3.jpg", data:{lightbox:"room-set", title:"ミニ会席　空　お料理２"}}
            %img{src:"img/menu/lunch/sora/3.thumb.jpg", alt:""}
        %li
          %a{href:"img/menu/lunch/sora/4.jpg", data:{lightbox:"room-set", title:"ミニ会席　空　お料理３"}}
            %img{src:"img/menu/lunch/sora/4.thumb.jpg", alt:""}
    .row.row_margin3.menu-container
      .row.row_margin1
        .col.span_2.item-header 先　付
        .col.span_14 あみ茸　海月　針雲丹胡麻酢和え　天盛　色三つ葉　もって菊
      .row.row_margin1
        .col.span_2.item-header 造　り
        .col.span_14 鯛　剣　大葉　紅蓼　花穂紫蘇　紅葉人参　山葵
      .row.row_margin1
        .col.span_2.item-header 吸い物
        .col.span_14 船場仕立　秋鯖　大根　人参　髢葱　胡椒
      .row.row_margin1
        .col.span_2.item-header 煮　物
        .col.span_14 蕪蟹溜掛　三つ葉　露生姜
      .row.row_margin1
        .col.span_2.item-header 焼　物
        .col.span_14 豊後大椎茸豆乳変わり焼 (鯛　貝柱　鶏　紅葉麩　銀杏)
      .row.row_margin1
        .col.span_2.item-header 油　物
        .col.span_14 糸より鯛煎り出し　舞茸　青唐　降り塩　レモン　煎り出汁
      .row.row_margin1
        .col.span_2.item-header 御　飯
        .col.span_14 しめじ御飯
      .row.row_margin1
        .col.span_2.item-header 果　物
        .col.span_14 柿
      .row.note
        .col.span_1.note ※
        .col.span_15.note [星]　全9品　8,000円　[月]　全9品　10,000円　もございます。　(すべて　税・サービス料別)
      .row.note
        .col.span_1.note ※
        .col.span_15.note 場合により内容が変わることがございます。

    / Menu 2
    .row
      %h2 お弁当
    .row.row_margin1
      %hr.style1
    .row.row_margin1
      %ul.images.clearfix
        %li
          %a{href:"img/menu/lunch/obentou/1.jpg", data:{lightbox:"room-set", title:"御会席　竹"}}
            %img{src:"img/menu/lunch/obentou/1.thumb.jpg", alt:""}
        %li
          %a{href:"img/menu/lunch/obentou/2.jpg", data:{lightbox:"room-set", title:"御会席　竹"}}
            %img{src:"img/menu/lunch/obentou/2.thumb.jpg", alt:""}
        %li
          %a{href:"img/menu/lunch/obentou/3.jpg", data:{lightbox:"room-set", title:"御会席　竹"}}
            %img{src:"img/menu/lunch/obentou/3.thumb.jpg", alt:""}
        %li
          %a{href:"img/menu/lunch/obentou/4.jpg", data:{lightbox:"room-set", title:"御会席　竹"}}
            %img{src:"img/menu/lunch/obentou/4.thumb.jpg", alt:""}
    .row.row_margin3.menu-container
      .row.row_margin1
        .col.span_4.item-header 竹御膳
        .col.span_3.align-right 3,500 円
      .row.row_margin1
        .col.span_4.item-header 半月弁当
        .col.span_3.align-right 4,000 円
      .row
        .col.span_1.note ※
        .col.span_15.note ６月から２月までのご用意となります。
      .row
        .col.span_1.note ※
        .col.span_15.note すべて　税・サービス料別

    .row.row_margin3
      %h1 十一月　ご夕食
    
    / Menu 1
    .row
      .col.span_4
        %h2 京会席　竹
      .col.span_12.header-comment 全10品　15,000円　(税・サービス料別)
    .row.row_margin1
      %hr.style1
    .row.row_margin1
      %ul.images.clearfix
        %li
          %a{href:"img/menu/dinner/take/1.jpg", data:{lightbox:"room-set", title:"京会席　竹"}}
            %img{src:"img/menu/dinner/take/1.thumb.jpg", alt:""}
        %li
          %a{href:"img/menu/dinner/take/2.jpg", data:{lightbox:"room-set", title:"京会席　竹　料理１"}}
            %img{src:"img/menu/dinner/take/2.thumb.jpg", alt:""}
        %li
          %a{href:"img/menu/dinner/take/3.jpg", data:{lightbox:"room-set", title:"京会席　竹　料理２"}}
            %img{src:"img/menu/dinner/take/3.thumb.jpg", alt:""}
        %li
          %a{href:"img/menu/dinner/take/4.jpg", data:{lightbox:"room-set", title:"京会席　竹　料理３"}}
            %img{src:"img/menu/dinner/take/4.thumb.jpg", alt:""}
    .row.row_margin3.menu-container
      .row.row_margin1
        .col.span_2.item-header 八　寸
        .col.span_14 海月梅寿司　車海老枝豆流し　枇杷南瓜鶏そぼろ射込　石伏魚甘露煮　新生姜甲州煮<br>白芋茎胡瓜胡麻和え　手綱きす酒盗焼
      .row.row_margin1
        .col.span_2.item-header 造　り
        .col.span_14 鱸焼霜造り　鱧落し　縞鯵そぎ造り　水玉胡瓜　花穂紫蘇　大葉　芽紫蘇　茗荷剣　山葵
      .row.row_margin1
        .col.span_2.item-header 吸い物
        .col.span_14 陸蓮根とろろ仕立　牡丹鱧　新じゅん菜　打茗荷　梅肉
      .row.row_margin1
        .col.span_2.item-header 煮　物
        .col.span_14 泥鰌柳川鍋　粉山椒
      .row.row_margin1
        .col.span_2.item-header 焼　物
        .col.span_14 活鮎壷焼　蓼酢　はじかみ　穴子八幡巻　青梅甘露煮
      .row.row_margin1
        .col.span_2.item-header 油　物
        .col.span_14 車海老なんば手毬揚　無花果茄子　蓮根　青唐　降り塩　レモン
      .row.row_margin1
        .col.span_2.item-header 酢の物
        .col.span_14 水雲酢　ちぢみ蛸　鮑柔煮　新生姜　胡瓜　長芋　あやめ独活
      .row.row_margin1
        .col.span_2.item-header 止め椀
        .col.span_14 赤出汁　大原木湯葉　三つ葉細々
      .row.row_margin1
        .col.span_2.item-header 御　飯
        .col.span_14 枝豆御飯
      .row.row_margin1
        .col.span_2.item-header 果　物
        .col.span_14 メロン
      .row.note
        .col.span_1.note ※
        .col.span_15.note [松]　全9品　12,000円　[梅]　全11品　18,000円　[菊]　全12品　20,000円　もございます。<br>(すべて　税・サービス料別)
      .row.note
        .col.span_1.note ※
        .col.span_15.note 場合により内容が変わることがございます。

    / Menu 2
    .row
      %h2 鍋料理
    .row.row_margin1
      %hr.style1
    .row.row_margin1
      %ul.images.clearfix
        %li
          %a{href:"img/menu/dinner/nabe/1.jpg", data:{lightbox:"room-set", title:"肉すき"}}
            %img{src:"img/menu/dinner/nabe/1.thumb.jpg", alt:""}
        %li
          %a{href:"img/menu/dinner/nabe/2.jpg", data:{lightbox:"room-set", title:"かも鍋"}}
            %img{src:"img/menu/dinner/nabe/2.thumb.jpg", alt:""}
        %li
          %a{href:"img/menu/dinner/nabe/3.jpg", data:{lightbox:"room-set", title:"しゃぶしゃぶ"}}
            %img{src:"img/menu/dinner/nabe/3.thumb.jpg", alt:""}
        %li
          %a{href:"img/menu/dinner/nabe/4.jpg", data:{lightbox:"room-set", title:"かにちり"}}
            %img{src:"img/menu/dinner/nabe/4.thumb.jpg", alt:""}
    .row.row_margin3.menu-container
      .row.row_margin1
        .col.span_4.item-header 肉すき
        .col.span_3.align-right 8,000 円より
      .row.row_margin1
        .col.span_4.item-header しゃぶしゃぶ
        .col.span_3.align-right 10,000 円より
      .row.row_margin1
        .col.span_4.item-header 寄せ鍋
        .col.span_3.align-right 10,000 円より
      .row.row_margin1
        .col.span_4.item-header 魚ちり
        .col.span_3.align-right 12,000 円より
      .row.row_margin1
        .col.span_4.item-header かも鍋
        .col.span_3.align-right 10,000 円より
      .row.row_margin1
        .col.span_4.item-header かにちり
        .col.span_3.align-right 10,000 円より
      .row.row_margin1
        .col.span_4.item-header 鳥水だき
        .col.span_3.align-right 6,000 円より
      .row
        .col.span_1.note ※
        .col.span_15.note １１月から２月までのご用意となります。
      .row
        .col.span_1.note ※
        .col.span_15.note すべて　税・サービス料別

/------------------------------------------------------------
/ Footer
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/footer.haml" ) ).render

develop/menu.html
<!DOCTYPE html>
<meta charset='UTF-8'>
<title>たけのこ会席 錦水亭</title>
<!-- jQuery -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<!-- Resposive.gs -->
<link href='css/responsive.gs.16col.ex.css' rel='stylesheet'>
<script src='js/respond.min.js'></script>
<!-- easy slider -->
<script src='js/jquery.easyslides.custom.min.v1.1.js'></script>
<link href='css/easySlides.default.min.css' rel='stylesheet'>
<!-- Lightbox -->
<script src='js/lightbox.min.js'></script>
<link href='css/lightbox.css' rel='stylesheet'>
<!-- common css -->
<link href='css/header.css' rel='stylesheet'>
<link href='css/navi.css' rel='stylesheet'>
<link href='css/menu.css' rel='stylesheet'>
<script src='js/slide-menu.js'></script>
<!-- ------------------------------------------------------------ -->
<!-- Header -->
<!-- ------------------------------------------------------------ -->
<div id='header'>
  <div id='h-content'>
    <a href='index.html'>
      <h1>錦水亭</h1>
    </a>
  </div>
</div>
<!-- %ul#h-navi.clearfix -->
<!-- #f-tel -->
<!-- %h2 TEL. 075-951-5151 -->
<!-- %li -->
<!-- %a{href: "./"} -->
<!-- %h3#h-contact お問い合せ -->
<!-- %li -->
<!-- %a{href: "./"} -->
<!-- %h3#h-sitemap サイトマップ -->
<!-- ------------------------------------------------------------ -->
<!-- Content -->
<!-- ------------------------------------------------------------ -->
<div class='content'>
  <div class='container'>
    <!-- Navi -->
    <div class='row'>
      <div class='navi'>
        <ul class='clearfix dropmenu dropmenu-fade'>
          <li>
            <a href='about.html'>
              <div class='navi-item0'>錦水亭</div>
            </a>
          </li>
          <li>
            <a href='menu.html'>
              <div class='navi-item1'>おしながき</div>
            </a>
          </li>
          <li>
            <a href='access.html'>
              <div class='navi-item2'>ごあんない</div>
            </a>
          </li>
          <li>
            <a href='wedding.html'>
              <div class='navi-item3'>結婚披露宴</div>
            </a>
          </li>
          <li>
            <a href='shop.html'>
              <div class='navi-item4'>佃煮お取り寄せ</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Slide -->
    <div class='row row_margin2'>
      <div class='easy_slides_container' id='slide'></div>
    </div>
    <div class='row row_margin3'>
      <h1>十一月　ご昼食</h1>
    </div>
    <!-- Menu 1 -->
    <div class='row'>
      <div class='col span_4'>
        <h2>ミニ会席　空</h2>
      </div>
      <div class='col span_12 header-comment'>全8品　6,000円　(税・サービス料別)</div>
    </div>
    <div class='row row_margin1'>
      <hr class='style1'>
    </div>
    <div class='row row_margin1'>
      <ul class='images clearfix'>
        <li>
          <a data-lightbox='room-set' data-title='ミニ会席　空' href='img/menu/lunch/sora/1.jpg'>
            <img alt='' src='img/menu/lunch/sora/1.thumb.jpg'>
          </a>
        </li>
        <li>
          <a data-lightbox='room-set' data-title='ミニ会席　空　お料理１' href='img/menu/lunch/sora/2.jpg'>
            <img alt='' src='img/menu/lunch/sora/2.thumb.jpg'>
          </a>
        </li>
        <li>
          <a data-lightbox='room-set' data-title='ミニ会席　空　お料理２' href='img/menu/lunch/sora/3.jpg'>
            <img alt='' src='img/menu/lunch/sora/3.thumb.jpg'>
          </a>
        </li>
        <li>
          <a data-lightbox='room-set' data-title='ミニ会席　空　お料理３' href='img/menu/lunch/sora/4.jpg'>
            <img alt='' src='img/menu/lunch/sora/4.thumb.jpg'>
          </a>
        </li>
      </ul>
    </div>
    <div class='row row_margin3 menu-container'>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>先　付</div>
        <div class='col span_14'>あみ茸　海月　針雲丹胡麻酢和え　天盛　色三つ葉　もって菊</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>造　り</div>
        <div class='col span_14'>鯛　剣　大葉　紅蓼　花穂紫蘇　紅葉人参　山葵</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>吸い物</div>
        <div class='col span_14'>船場仕立　秋鯖　大根　人参　髢葱　胡椒</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>煮　物</div>
        <div class='col span_14'>蕪蟹溜掛　三つ葉　露生姜</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>焼　物</div>
        <div class='col span_14'>豊後大椎茸豆乳変わり焼 (鯛　貝柱　鶏　紅葉麩　銀杏)</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>油　物</div>
        <div class='col span_14'>糸より鯛煎り出し　舞茸　青唐　降り塩　レモン　煎り出汁</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>御　飯</div>
        <div class='col span_14'>しめじ御飯</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>果　物</div>
        <div class='col span_14'>柿</div>
      </div>
      <div class='row note'>
        <div class='col span_1 note'>※</div>
        <div class='col span_15 note'>[星]　全9品　8,000円　[月]　全9品　10,000円　もございます。　(すべて　税・サービス料別)</div>
      </div>
      <div class='row note'>
        <div class='col span_1 note'>※</div>
        <div class='col span_15 note'>場合により内容が変わることがございます。</div>
      </div>
    </div>
    <!-- Menu 2 -->
    <div class='row'>
      <h2>お弁当</h2>
    </div>
    <div class='row row_margin1'>
      <hr class='style1'>
    </div>
    <div class='row row_margin1'>
      <ul class='images clearfix'>
        <li>
          <a data-lightbox='room-set' data-title='御会席　竹' href='img/menu/lunch/obentou/1.jpg'>
            <img alt='' src='img/menu/lunch/obentou/1.thumb.jpg'>
          </a>
        </li>
        <li>
          <a data-lightbox='room-set' data-title='御会席　竹' href='img/menu/lunch/obentou/2.jpg'>
            <img alt='' src='img/menu/lunch/obentou/2.thumb.jpg'>
          </a>
        </li>
        <li>
          <a data-lightbox='room-set' data-title='御会席　竹' href='img/menu/lunch/obentou/3.jpg'>
            <img alt='' src='img/menu/lunch/obentou/3.thumb.jpg'>
          </a>
        </li>
        <li>
          <a data-lightbox='room-set' data-title='御会席　竹' href='img/menu/lunch/obentou/4.jpg'>
            <img alt='' src='img/menu/lunch/obentou/4.thumb.jpg'>
          </a>
        </li>
      </ul>
    </div>
    <div class='row row_margin3 menu-container'>
      <div class='row row_margin1'>
        <div class='col span_4 item-header'>竹御膳</div>
        <div class='col span_3 align-right'>3,500 円</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_4 item-header'>半月弁当</div>
        <div class='col span_3 align-right'>4,000 円</div>
      </div>
      <div class='row'>
        <div class='col span_1 note'>※</div>
        <div class='col span_15 note'>６月から２月までのご用意となります。</div>
      </div>
      <div class='row'>
        <div class='col span_1 note'>※</div>
        <div class='col span_15 note'>すべて　税・サービス料別</div>
      </div>
    </div>
    <div class='row row_margin3'>
      <h1>十一月　ご夕食</h1>
    </div>
    <!-- Menu 1 -->
    <div class='row'>
      <div class='col span_4'>
        <h2>京会席　竹</h2>
      </div>
      <div class='col span_12 header-comment'>全10品　15,000円　(税・サービス料別)</div>
    </div>
    <div class='row row_margin1'>
      <hr class='style1'>
    </div>
    <div class='row row_margin1'>
      <ul class='images clearfix'>
        <li>
          <a data-lightbox='room-set' data-title='京会席　竹' href='img/menu/dinner/take/1.jpg'>
            <img alt='' src='img/menu/dinner/take/1.thumb.jpg'>
          </a>
        </li>
        <li>
          <a data-lightbox='room-set' data-title='京会席　竹　料理１' href='img/menu/dinner/take/2.jpg'>
            <img alt='' src='img/menu/dinner/take/2.thumb.jpg'>
          </a>
        </li>
        <li>
          <a data-lightbox='room-set' data-title='京会席　竹　料理２' href='img/menu/dinner/take/3.jpg'>
            <img alt='' src='img/menu/dinner/take/3.thumb.jpg'>
          </a>
        </li>
        <li>
          <a data-lightbox='room-set' data-title='京会席　竹　料理３' href='img/menu/dinner/take/4.jpg'>
            <img alt='' src='img/menu/dinner/take/4.thumb.jpg'>
          </a>
        </li>
      </ul>
    </div>
    <div class='row row_margin3 menu-container'>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>八　寸</div>
        <div class='col span_14'>海月梅寿司　車海老枝豆流し　枇杷南瓜鶏そぼろ射込　石伏魚甘露煮　新生姜甲州煮<br>白芋茎胡瓜胡麻和え　手綱きす酒盗焼</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>造　り</div>
        <div class='col span_14'>鱸焼霜造り　鱧落し　縞鯵そぎ造り　水玉胡瓜　花穂紫蘇　大葉　芽紫蘇　茗荷剣　山葵</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>吸い物</div>
        <div class='col span_14'>陸蓮根とろろ仕立　牡丹鱧　新じゅん菜　打茗荷　梅肉</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>煮　物</div>
        <div class='col span_14'>泥鰌柳川鍋　粉山椒</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>焼　物</div>
        <div class='col span_14'>活鮎壷焼　蓼酢　はじかみ　穴子八幡巻　青梅甘露煮</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>油　物</div>
        <div class='col span_14'>車海老なんば手毬揚　無花果茄子　蓮根　青唐　降り塩　レモン</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>酢の物</div>
        <div class='col span_14'>水雲酢　ちぢみ蛸　鮑柔煮　新生姜　胡瓜　長芋　あやめ独活</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>止め椀</div>
        <div class='col span_14'>赤出汁　大原木湯葉　三つ葉細々</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>御　飯</div>
        <div class='col span_14'>枝豆御飯</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_2 item-header'>果　物</div>
        <div class='col span_14'>メロン</div>
      </div>
      <div class='row note'>
        <div class='col span_1 note'>※</div>
        <div class='col span_15 note'>[松]　全9品　12,000円　[梅]　全11品　18,000円　[菊]　全12品　20,000円　もございます。<br>(すべて　税・サービス料別)</div>
      </div>
      <div class='row note'>
        <div class='col span_1 note'>※</div>
        <div class='col span_15 note'>場合により内容が変わることがございます。</div>
      </div>
    </div>
    <!-- Menu 2 -->
    <div class='row'>
      <h2>鍋料理</h2>
    </div>
    <div class='row row_margin1'>
      <hr class='style1'>
    </div>
    <div class='row row_margin1'>
      <ul class='images clearfix'>
        <li>
          <a data-lightbox='room-set' data-title='肉すき' href='img/menu/dinner/nabe/1.jpg'>
            <img alt='' src='img/menu/dinner/nabe/1.thumb.jpg'>
          </a>
        </li>
        <li>
          <a data-lightbox='room-set' data-title='かも鍋' href='img/menu/dinner/nabe/2.jpg'>
            <img alt='' src='img/menu/dinner/nabe/2.thumb.jpg'>
          </a>
        </li>
        <li>
          <a data-lightbox='room-set' data-title='しゃぶしゃぶ' href='img/menu/dinner/nabe/3.jpg'>
            <img alt='' src='img/menu/dinner/nabe/3.thumb.jpg'>
          </a>
        </li>
        <li>
          <a data-lightbox='room-set' data-title='かにちり' href='img/menu/dinner/nabe/4.jpg'>
            <img alt='' src='img/menu/dinner/nabe/4.thumb.jpg'>
          </a>
        </li>
      </ul>
    </div>
    <div class='row row_margin3 menu-container'>
      <div class='row row_margin1'>
        <div class='col span_4 item-header'>肉すき</div>
        <div class='col span_3 align-right'>8,000 円より</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_4 item-header'>しゃぶしゃぶ</div>
        <div class='col span_3 align-right'>10,000 円より</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_4 item-header'>寄せ鍋</div>
        <div class='col span_3 align-right'>10,000 円より</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_4 item-header'>魚ちり</div>
        <div class='col span_3 align-right'>12,000 円より</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_4 item-header'>かも鍋</div>
        <div class='col span_3 align-right'>10,000 円より</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_4 item-header'>かにちり</div>
        <div class='col span_3 align-right'>10,000 円より</div>
      </div>
      <div class='row row_margin1'>
        <div class='col span_4 item-header'>鳥水だき</div>
        <div class='col span_3 align-right'>6,000 円より</div>
      </div>
      <div class='row'>
        <div class='col span_1 note'>※</div>
        <div class='col span_15 note'>１１月から２月までのご用意となります。</div>
      </div>
      <div class='row'>
        <div class='col span_1 note'>※</div>
        <div class='col span_15 note'>すべて　税・サービス料別</div>
      </div>
    </div>
  </div>
</div>
<!-- ------------------------------------------------------------ -->
<!-- Footer -->
<!-- ------------------------------------------------------------ -->
<div id='footer'>
  <div class='clearfix' id='f-content'>
    <div id='f-logo'>錦水亭</div>
    <div id='f-copyright'>Copyright KINSUITEI. All Right Reserved.</div>
    <div id='f-tel'>
      <h2>ご予約・お問い合わせ TEL. 075-951-5151</h2>
    </div>
  </div>
</div>
