develop/shop.html
<!DOCTYPE html>
<meta charset='UTF-8'>
<title>たけのこ会席 錦水亭</title>
<!-- jQuery -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<!-- Resposive.gs -->
<link href='css/responsive.gs.16col.ex.css' rel='stylesheet'>
<script src='js/respond.min.js'></script>
<!-- easy slider -->
<script src='js/jquery.easyslides.custom.min.v1.1.js'></script>
<link href='css/easySlides.default.min.css' rel='stylesheet'>
<!-- Lightbox -->
<script src='js/lightbox.min.js'></script>
<link href='css/lightbox.css' rel='stylesheet'>
<!-- common css -->
<link href='css/header.css' rel='stylesheet'>
<link href='css/navi.css' rel='stylesheet'>
<link href='css/shop.css' rel='stylesheet'>
<script src='js/slide-shop.js'></script>
<!-- ------------------------------------------------------------ -->
<!-- Header -->
<!-- ------------------------------------------------------------ -->
<div id='header'>
  <div id='h-content'>
    <a href='index.html'>
      <h1>錦水亭</h1>
    </a>
  </div>
</div>
<!-- %ul#h-navi.clearfix -->
<!-- #f-tel -->
<!-- %h2 TEL. 075-951-5151 -->
<!-- %li -->
<!-- %a{href: "./"} -->
<!-- %h3#h-contact お問い合せ -->
<!-- %li -->
<!-- %a{href: "./"} -->
<!-- %h3#h-sitemap サイトマップ -->
<!-- ------------------------------------------------------------ -->
<!-- Content -->
<!-- ------------------------------------------------------------ -->
<div class='content'>
  <div class='container'>
    <div class='row'>
      <div class='navi'>
        <ul class='clearfix dropmenu dropmenu-fade'>
          <li>
            <a href='about.html'>
              <div class='navi-item0'>錦水亭</div>
            </a>
          </li>
          <li>
            <a href='menu.html'>
              <div class='navi-item1'>おしながき</div>
            </a>
          </li>
          <li>
            <a href='access.html'>
              <div class='navi-item2'>ごあんない</div>
            </a>
          </li>
          <li>
            <a href='wedding.html'>
              <div class='navi-item3'>結婚披露宴</div>
            </a>
          </li>
          <li>
            <a href='shop.html'>
              <div class='navi-item4'>佃煮お取り寄せ</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Slide -->
    <div class='row row_margin4'>
      <div class='easy_slides_container' id='slide'></div>
    </div>
    <div class='row row_margin1'>
      <div class='table-cell-left thumb'>
        <img alt='' src='img/shop/1.jpg'>
      </div>
      <div class='table-cell-left name font-l'>
        竹の香
      </div>
      <div class='table-cell-left desc font-s'>
        『たけのこ』<br>
        <br>
        内容量　140g 1本<br>
        総重量 350g<br>
        箱サイズ　幅10x10cm・高さ20cm
      </div>
      <div class='table-cell price'>\800</div>
      <div class='table-cell count'>購入数■■</div>
    </div>
    <div class='row row_margin1'>
      <hr class='style2'>
    </div>
    <div class='row row_margin1'>
      <div class='table-cell-left thumb'>
        <img alt='' src='img/shop/2.jpg'>
      </div>
      <div class='table-cell-left name font-l'>
        竹づくし
      </div>
      <div class='table-cell-left desc font-s'>
        『たけのこ・こんぶ・しいたけ』<br>
        <br>
        内容量　140g 1本<br>
        総重量 350g<br>
        箱サイズ 幅10x10cm　高さ20cm
      </div>
      <div class='table-cell price'>\800</div>
      <div class='table-cell count'>購入数■■</div>
    </div>
    <div class='row row_margin1'>
      <hr class='style2'>
    </div>
    <div class='row row_margin1'>
      <div class='table-cell-left thumb'>
        <img alt='' src='img/shop/3.jpg'>
      </div>
      <div class='table-cell-left name font-l'>
        竹じまん
      </div>
      <div class='table-cell-left desc font-s'>
        『たけのこ・さんしょう・きくらげ』<br>
        <br>
        内容量　140g 1本<br>
        総重量 350g<br>
        箱サイズ 幅10x10cm　高さ20cm
      </div>
      <div class='table-cell price'>\800</div>
      <div class='table-cell count'>購入数■■</div>
    </div>
    <div class='row row_margin1'>
      <hr class='style2'>
    </div>
    <div class='row row_margin1'>
      <div class='table-cell-left thumb'>
        <img alt='' src='img/shop/4.jpg'>
      </div>
      <div class='table-cell-left name font-l'>
        竹の香<br>
        ２本セット
      </div>
      <div class='table-cell-left desc font-s'>
        『たけのこ』<br>
        <br>
        内容量　140g 2本
        総重量 800g<br>
        箱サイズ 幅20x10cm　高さ20cm
      </div>
      <div class='table-cell price'>\1,700</div>
      <div class='table-cell count'>購入数■■</div>
    </div>
  </div>
</div>
<!-- ------------------------------------------------------------ -->
<!-- Footer -->
<!-- ------------------------------------------------------------ -->
<div id='footer'>
  <div class='clearfix' id='f-content'>
    <div id='f-logo'>錦水亭</div>
    <div id='f-copyright'>Copyright KINSUITEI. All Right Reserved.</div>
    <div id='f-tel'>
      <h2>ご予約・お問い合わせ TEL. 075-951-5151</h2>
    </div>
  </div>
</div>

develop/haml/shop.haml
= Haml::Engine.new( File.read( "#{__dir__}/common/base.haml" ) ).render

%link{rel: "stylesheet", href: "css/shop.css"}
%script{src: "js/slide-shop.js"}

/------------------------------------------------------------
/ Header
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/header.haml" ) ).render

/------------------------------------------------------------
/ Content
/------------------------------------------------------------
.content
  .container
    .row
      = Haml::Engine.new( File.read( "#{__dir__}/common/navi.haml" ) ).render

    / Slide
    .row.row_margin4
      #slide.easy_slides_container

    .row.row_margin1
      .table-cell-left.thumb
        %img{src:"img/shop/1.jpg", alt:""}
      .table-cell-left.name.font-l
        竹の香
      .table-cell-left.desc.font-s
        『たけのこ』<br>
        <br>
        内容量　140g 1本<br>
        総重量 350g<br>
        箱サイズ　幅10x10cm・高さ20cm
      .table-cell.price \800
      .table-cell.count 購入数■■
      
    .row.row_margin1
      %hr.style2

    .row.row_margin1
      .table-cell-left.thumb
        %img{src:"img/shop/2.jpg", alt:""}
      .table-cell-left.name.font-l
        竹づくし
      .table-cell-left.desc.font-s
        『たけのこ・こんぶ・しいたけ』<br>
        <br>
        内容量　140g 1本<br>
        総重量 350g<br>
        箱サイズ 幅10x10cm　高さ20cm
      .table-cell.price \800
      .table-cell.count 購入数■■

    .row.row_margin1
      %hr.style2
      
    .row.row_margin1
      .table-cell-left.thumb
        %img{src:"img/shop/3.jpg", alt:""}
      .table-cell-left.name.font-l
        竹じまん
      .table-cell-left.desc.font-s
        『たけのこ・さんしょう・きくらげ』<br>
        <br>
        内容量　140g 1本<br>
        総重量 350g<br>
        箱サイズ 幅10x10cm　高さ20cm
      .table-cell.price \800
      .table-cell.count 購入数■■
   
    .row.row_margin1
      %hr.style2

    .row.row_margin1
      .table-cell-left.thumb
        %img{src:"img/shop/4.jpg", alt:""}
      .table-cell-left.name.font-l
        竹の香<br>
        ２本セット
      .table-cell-left.desc.font-s
        『たけのこ』<br>
        <br>
        内容量　140g 2本
        総重量 800g<br>
        箱サイズ 幅20x10cm　高さ20cm
      .table-cell.price \1,700
      .table-cell.count 購入数■■

/------------------------------------------------------------
/ Footer
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/footer.haml" ) ).render
