develop/wedding.html
<!DOCTYPE html>
<meta charset='UTF-8'>
<title>たけのこ会席 錦水亭</title>
<!-- jQuery -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<!-- Resposive.gs -->
<link href='css/responsive.gs.16col.ex.css' rel='stylesheet'>
<script src='js/respond.min.js'></script>
<!-- easy slider -->
<script src='js/jquery.easyslides.custom.min.v1.1.js'></script>
<link href='css/easySlides.default.min.css' rel='stylesheet'>
<!-- Lightbox -->
<script src='js/lightbox.min.js'></script>
<link href='css/lightbox.css' rel='stylesheet'>
<!-- common css -->
<link href='css/header.css' rel='stylesheet'>
<link href='css/navi.css' rel='stylesheet'>
<link href='css/wedding.css' rel='stylesheet'>
<script src='js/slide-wedding.js'></script>
<!-- ------------------------------------------------------------ -->
<!-- Header -->
<!-- ------------------------------------------------------------ -->
<div id='header'>
  <div id='h-content'>
    <a href='index.html'>
      <h1>錦水亭</h1>
    </a>
  </div>
</div>
<!-- %ul#h-navi.clearfix -->
<!-- #f-tel -->
<!-- %h2 TEL. 075-951-5151 -->
<!-- %li -->
<!-- %a{href: "./"} -->
<!-- %h3#h-contact お問い合せ -->
<!-- %li -->
<!-- %a{href: "./"} -->
<!-- %h3#h-sitemap サイトマップ -->
<!-- ------------------------------------------------------------ -->
<!-- Content -->
<!-- ------------------------------------------------------------ -->
<div class='content'>
  <div class='container'>
    <!-- Slide -->
    <!-- #slide.easy_slides_container -->
    <div class='row'>
      <div class='navi'>
        <ul class='clearfix dropmenu dropmenu-fade'>
          <li>
            <a href='about.html'>
              <div class='navi-item0'>錦水亭</div>
            </a>
          </li>
          <li>
            <a href='menu.html'>
              <div class='navi-item1'>おしながき</div>
            </a>
          </li>
          <li>
            <a href='access.html'>
              <div class='navi-item2'>ごあんない</div>
            </a>
          </li>
          <li>
            <a href='wedding.html'>
              <div class='navi-item3'>結婚披露宴</div>
            </a>
          </li>
          <li>
            <a href='shop.html'>
              <div class='navi-item4'>佃煮お取り寄せ</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Slide -->
    <div class='row row_margin4'>
      <div class='easy_slides_container' id='slide'></div>
    </div>
    <!-- ------------------------------------------------------------ -->
    <!-- 長岡天満宮での結婚式 -->
    <!-- ------------------------------------------------------------ -->
    <div class='row'>
      <h2>長岡天満宮での結婚式</h2>
    </div>
    <div class='row row_margin1'>
      <hr class='style1'>
    </div>
    <div class='row row_margin4'>
      <p>
        長岡天満宮では、お二人のすばらしい門出のため、結婚式の御予約も承っております。
      </p>
      <p>
        華燭の成典は荘厳華麗な長岡天満宮で。
      </p>
      <p>
        ご本殿におきまして、古式ゆかしく荘厳な挙式を行っております。合わせて４０名様まで参列していただけます。又冷暖房が完備しておりますので、季節に関わらず気持ちよくご参列いただけます。
      </p>
    </div>
    <!-- ------------------------------------------------------------ -->
    <!-- 錦水亭での結婚披露宴 -->
    <!-- ------------------------------------------------------------ -->
    <div class='row'>
      <h2>錦水亭での結婚披露宴</h2>
    </div>
    <div class='row row_margin1'>
      <hr class='style1'>
    </div>
    <div class='row row_margin4'>
      <p>
        長岡天満宮での御結婚式の後の披露宴、その他ご慶事にはぜひ、錦水亭を御活用ください。
      </p>
      <p>
        最適の環境とお料理にてお待ち申し上げております。
      </p>
    </div>
  </div>
</div>
<!-- ------------------------------------------------------------ -->
<!-- Footer -->
<!-- ------------------------------------------------------------ -->
<div id='footer'>
  <div class='clearfix' id='f-content'>
    <div id='f-logo'>錦水亭</div>
    <div id='f-copyright'>Copyright KINSUITEI. All Right Reserved.</div>
    <div id='f-tel'>
      <h2>ご予約・お問い合わせ TEL. 075-951-5151</h2>
    </div>
  </div>
</div>

develop/haml/wedding.haml
= Haml::Engine.new( File.read( "#{__dir__}/common/base.haml" ) ).render

%link{rel: "stylesheet", href: "css/wedding.css"}
%script{src: "js/slide-wedding.js"}

/------------------------------------------------------------
/ Header
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/header.haml" ) ).render

/------------------------------------------------------------
/ Content
/------------------------------------------------------------
.content
  .container
    / Slide
    / #slide.easy_slides_container
    
    .row
      = Haml::Engine.new( File.read( "#{__dir__}/common/navi.haml" ) ).render

    / Slide
    .row.row_margin4
      #slide.easy_slides_container

    /------------------------------------------------------------
    / 長岡天満宮での結婚式
    /------------------------------------------------------------
    .row
      %h2 長岡天満宮での結婚式
    .row.row_margin1
      %hr.style1
    .row.row_margin4
      %p
        長岡天満宮では、お二人のすばらしい門出のため、結婚式の御予約も承っております。
      %p
        華燭の成典は荘厳華麗な長岡天満宮で。
      %p
        ご本殿におきまして、古式ゆかしく荘厳な挙式を行っております。合わせて４０名様まで参列していただけます。又冷暖房が完備しておりますので、季節に関わらず気持ちよくご参列いただけます。

    /------------------------------------------------------------
    / 錦水亭での結婚披露宴
    /------------------------------------------------------------
    .row
      %h2 錦水亭での結婚披露宴
    .row.row_margin1
      %hr.style1
    .row.row_margin4
      %p
        長岡天満宮での御結婚式の後の披露宴、その他ご慶事にはぜひ、錦水亭を御活用ください。
      %p
        最適の環境とお料理にてお待ち申し上げております。

/------------------------------------------------------------
/ Footer
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/footer.haml" ) ).render
